@model IEnumerable<DisasterAlleviationFoundation.Models.GoodsDonation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DonorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DonorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonationDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GoodsDonationID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GoodsDonationID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GoodsDonationID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
